.advantages {
  padding: 0 20px;
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px 0;
  width: 225px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.advantages__block-leaf {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../img/icon-leaf-mobile.svg");
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.advantages__block-powder {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../img/icon-powder-mobile.svg");
  background-repeat: no-repeat;
  background-position: 18px 16px;
}

.advantages__block-cutlery {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../img/icon-cutlery-mobile.svg");
  background-repeat: no-repeat;
  background-position: 18px 14px;
}

.advantages__block-clock {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../img/icon-clock-mobile.svg");
  background-repeat: no-repeat;
  background-position: 18px 14px;
}

.advantages__text {
  display: block;
  width: 193px;
  min-height: 54px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 2px 0 0 21px;
}
