.header {
  background-color: #ffffff;
  min-height: 65px;
  padding: 10px 20px 11px 20px;
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 0 31px;
    margin: 0 0 18px 0;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-height: 111px;
    padding: 53px 106px 0 110px;
    justify-content: inherit;
    gap: 565px;
  }
}

.header__block {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  min-height: 38px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 174px;
    margin: 0 93px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.header__logo {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.header__title {
  margin: 13px auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__nav {
  position: absolute;
  width: 100%;
  min-height: 264px;
  z-index: 1;
  top: 65px;
  left: 0;

  &--nojs {
    position: static;
    min-height: 0;
  }

  @media (min-width: @tablet-width) {
    min-height: 36px;
    position: static;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 485px;
  }
}

.header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 18px 0 0 0;
  }
}

.header__nav-item {
  position: relative;

  &:nth-child(2) .header__nav-link {
    padding: 22px 70px 24px 69px;
  }

  &:nth-child(3) .header__nav-link-last {
    padding: 22px 70px 24px 70px;
  }

  @media (min-width: @tablet-width) {
    &:nth-child(2) .header__nav-link {
      padding: 0;
    }

    &:nth-child(3) .header__nav-link-last {
      padding: 0;
    }

    &:nth-child(1) {
      margin: 0 34px 0 0;
    }

    &:nth-child(2) {
      margin: 0 37px 0 0;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(2) {
      padding: 0 0 0 3px;
      margin: 0 33px 0 0;
    }
  }
}

.header-nav--opened .header__nav-list {
  display: block;
}

.header__nav-link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  min-height: 65px;
  text-align: center;
  padding: 22px 122px 24px 122px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    left: 0;
    top: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    min-height: 24px;

    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
}

.header__nav-link-last {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  min-height: 65px;
  text-align: center;
  padding: 22px 122px 24px 122px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    left: 0;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    left: 0;
    bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    min-height: 24px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
}

.header__button {
  position: absolute;
  top: -43px;
  right: 20px;
  width: 24px;
  height: 18px;
  border: none;
  background-color: #ffffff;
  display: block;
  z-index: 2;
  background-image: url("../../img/button-closed.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header-nav--opened .header__button {
  background-image: url("../../img/cross-mobile.svg");
  background-repeat: no-repeat;
  height: 20px;
}

//nojs

.header__nav--nojs .header__button {
  display: none;
}

.header__nav--nojs .header__nav-list {
  display: block;
}

//header white line

.header__nav-item--index .header__nav-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    background-color: #000000;
  }
}
