.nutrition {
  position: relative;
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    margin: 0 0 45px 0;
  }
}

.nutrition__block {
  min-height: 302px;
  background-image: url("../../img/cat-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 27px 34px 0 36px;

  @media (min-width: @tablet-width) {
    background-image: none;
    padding: 32px 236px 0 117px;
  }
}

.nutrition__title {
  min-height: 72px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0 0 25px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: inherit;
    margin: 0 0 43px 0;
  }
}

.nutrition__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    width: 283px;
    margin: 0 0 0 3px;
  }
}

.nutrition__indent {
  padding: 0 20px 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.nutrition__background {
  margin: -135px 0 0 0;
  background-image: url("../../img/can-mobile.png");
  background-repeat: no-repeat;
  min-height: 270px;
  background-position: 50%;

  @media (min-width: @tablet-width) {
    height: 609px;
    margin: -69px 0 0 30px;
    background-image: url("../../img/can-tablet.png");
    background-position: initial;
  }
}

.nutrition__button {
  display: block;
  text-decoration: none;
  width: 100%;
  min-height: 40px;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 3px 0 20px 0;
  padding: 11px 73px 11px 74px;

  @media (min-width: @tablet-width) {
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 28px 17px 26px;
    margin: -579px 0 526px 122px;
  }
}

.nutrition__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0 30px 0 31px;
  }
}

.nutrition__item {
  position: relative;
  width: 100%;
  min-height: 266px;
  background-color: #f2f2f2;
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;

  @media (min-width: @tablet-width) {
    min-height: 372px;
    margin: 0 0 30px 0;
    padding: 68px 340px 53px 33px;
  }
}

.nutrition__line {
  display: flex;
  flex-wrap: wrap;
}

.nutrition__cat-icon {
  margin: 0 0 0 22px;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin: 0;
    width: 200px;
    height: 211px;
    right: 63px;
    top: 79px;
  }
}

.nutrition__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 9px 0 0 19px;

  @media (min-width: @tablet-width) {
    width: 166px;
    word-break: break-word;
    font-size: 36px;
    line-height: 36px;
  }
}

.nutrition__item-title-last {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 11px 0 0 10px;

  @media (min-width: @tablet-width) {
    width: 206px;
    word-break: break-word;
    font-size: 36px;
    line-height: 36px;
    margin: 9px 0 0 20px;
  }
}

.nutrition__item-text {
  width: 100%;
  min-height: 90px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 24px 20px 0 20px;

  &::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    top: 208px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 24px 20px 52px 20px;

    &::before {
      display: none;
    }
  }
}

.nutrition__link {
  display: flex;
  flex-wrap: wrap;
  width: 134px;
  min-height: 24px;
  margin: 41px 0 0 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  background-image: url("../../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 102px 2px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    background-position: 132px 9px;
  }
}

.nutrition__link-pro {
  display: flex;
  flex-wrap: wrap;
  width: 134px;
  min-height: 24px;
  margin: 41px 0 0 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  background-image: url("../../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 97px 2px;

  @media (min-width: @tablet-width) {
    width: 161px;
    font-size: 20px;
    line-height: 30px;
    background-position: 128px 9px;
  }
}

.nutrition__panther-icon {
  margin: 3px 0 0 14px;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin: 0;
    width: 268px;
    height: 200px;
    right: 28px;
    top: 90px;
  }
}
